<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
        rel="stylesheet">
        <link rel="stylesheet" href="/index.css">
        <link rel="icon" type="image/png" href="https://alishop.kiev.ua/image/cache/catalog/image/catalog/111ICON/1616.webp" sizes="16x16">
    <title> {{title}} </title>
</head>